snippet img
{% img left /images/posts/${1:imageName} 1024 300 %}
endsnippet

snippet code
\`\`\` ${1:language} ${2:title}
${3:code}
\`\`\`
endsnippet

snippet thumb
{% img right /images/posts/${1:imageName} 300 300 %}
endsnippet

snippet more "add more" !b
<!-- more -->
endsnippet
