snippet _diary "a template for writing my personal diary " !b
===Summary===

===Today's ToDo list===
endsnippet

snippet _summary "a template for writing summary" !b
Health:
Family:
Love:
Friends:
Career:
Wealth:
life:
Personal:
Learning:
Dream:
endsnippet
