snippet _diary "a template for writing my personal diary " !b
===Summary===
{1:Content}

===Today's ToDo list===
{2:- [ ] }
endsnippet

snippet _summary "a template for writing summary" !b
{1:Health:}
{2:Family:}
{3:Love:}
{4:Friends:}
{5:Career:}
{6:Wealth:}
{7:life:}
{8:Personal:}
{9:Learning:}
{10:Dream:}
endsnippet
