[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
    ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
    ignore = dirty
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
    ignore = dirty
[submodule "bundle/ZoomWin"]
	path = bundle/ZoomWin
	url = git://github.com/vim-scripts/ZoomWin.git
    ignore = dirty
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/NrrwRgn"]
	path = bundle/NrrwRgn
	url = git://github.com/chrisbra/NrrwRgn.git
    ignore = dirty
[submodule "bundle/checksyntax_vim"]
	path = bundle/checksyntax_vim
	url = git://github.com/tomtom/checksyntax_vim.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/DoxygenToolkit"]
	path = bundle/DoxygenToolkit
	url = git://github.com/vim-scripts/DoxygenToolkit.vim.git
[submodule "bundle/vim-lua-ftplugin"]
	path = bundle/vim-lua-ftplugin
	url = git://github.com/xolox/vim-lua-ftplugin.git
    ignore = dirty
[submodule "bundle/vim-projtags"]
	path = bundle/vim-projtags
	url = git://github.com/vim-scripts/projtags.vim.git
[submodule "bundle/vim-sparkup"]
	path = bundle/vim-sparkup
	url = git://github.com/kogakure/vim-sparkup.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "tags"]
	path = tags
	url = git@github.com:andyque/Cocos2DTags.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "bundle/vim-textobj-lastpat"]
	path = bundle/vim-textobj-lastpat
	url = git://github.com/kana/vim-textobj-lastpat.git
    ignore = dirty
[submodule "bundle/vim-textobj-user"]
	path = bundle/vim-textobj-user
	url = git://github.com/kana/vim-textobj-user.git
    ignore = dirty
[submodule "bundle/vim-eunuch"]
	path = bundle/vim-eunuch
	url = git://github.com/tpope/vim-eunuch.git
[submodule "bundle/vim-textobj-line"]
	path = bundle/vim-textobj-line
	url = git://github.com/kana/vim-textobj-line.git
    ignore = dirty
[submodule "bundle/vim-visual-star-search"]
	path = bundle/vim-visual-star-search
	url = git://github.com/nelstrom/vim-visual-star-search.git
[submodule "bundle/vim-textobj-indent"]
	path = bundle/vim-textobj-indent
	url = git://github.com/kana/vim-textobj-indent.git
    ignore = dirty
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "bundle/vim-qargs"]
	path = bundle/vim-qargs
	url = git://github.com/nelstrom/vim-qargs.git
[submodule "bundle/vim-cpp11"]
	path = bundle/vim-cpp11
	url = git://github.com/vim-scripts/Cpp11-Syntax-Support.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = git://github.com/klen/python-mode.git
    ignore = dirty
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-speeddating"]
	path = bundle/vim-speeddating
	url = git://github.com/tpope/vim-speeddating.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "bundle/a"]
	path = bundle/a
	url = git://github.com/vim-scripts/a.vim.git
[submodule "bundle/buferexplorer"]
	path = bundle/buferexplorer
	url = git://github.com/vim-scripts/bufexplorer.zip.git
    ignore = dirty
[submodule "bundle/dfrank_util"]
	path = bundle/dfrank_util
	url = git://github.com/oblitum/dfrank_util.git
[submodule "bundle/vimprj"]
	path = bundle/vimprj
	url = git://github.com/oblitum/vimprj.git
[submodule "bundle/SingleCompile"]
	path = bundle/SingleCompile
	url = git://github.com/xuhdev/SingleCompile.git
    ignore = dirty
[submodule "bundle/clangComplete"]
	path = bundle/clangComplete
	url = git://github.com/oblitum/clang_complete.git
    ignore = dirty
[submodule "bundle/bufkill"]
	path = bundle/bufkill
	url = git://github.com/oblitum/bufkill.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "bundle/neocomplcache-clang_complete"]
	path = bundle/neocomplcache-clang_complete
	url = git://github.com/osyo-manga/neocomplcache-clang_complete.git
[submodule "bundle/syntaxHighlighting"]
	path = bundle/syntaxHighlighting
	url = git@github.com:andyque/cSyntaxAfter.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
    ignore = dirty
[submodule "bundle/calendar"]
	path = bundle/calendar
	url = https://github.com/vim-scripts/calendar.vim--Matsumoto.git
[submodule "bundle/vim-nerdtree-tabs"]
	path = bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/textobj-word-column"]
	path = bundle/textobj-word-column
	url = https://github.com/coderifous/textobj-word-column.vim.git
[submodule "bundle/vim-octopress"]
	path = bundle/vim-octopress
	url = https://github.com/tangledhelix/vim-octopress.git
    ignore = dirty
[submodule "bundle/hardmode"]
	path = bundle/hardmode
	url = https://github.com/wikitopian/hardmode.git
    ignore = dirty
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/LaTeX-Box"]
	path = bundle/LaTeX-Box
	url = https://github.com/LaTeX-Box-Team/LaTeX-Box.git
[submodule "bundle/vim-blackboard"]
	path = bundle/vim-blackboard
	url = https://github.com/nelstrom/vim-blackboard.git
[submodule "bundle/Ack"]
	path = bundle/Ack
	url = https://github.com/mileszs/ack.vim
[submodule "bundle/vim-textobj-entire"]
	path = bundle/vim-textobj-entire
	url = https://github.com/kana/vim-textobj-entire.git
    ignore = dirty
[submodule "bundle/vim-textojb-syntax"]
	path = bundle/vim-textojb-syntax
	url = https://github.com/kana/vim-textobj-syntax.git
    ignore = dirty
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
