[user]
	name = andyque
	email = guanghui8827@126.com
[mergetool]
	keepBackup = true
[alias]
	cm = commit
    cl = clone
	br = branch
    st = status
    co = checkout
    sm = submodule
    ci = commit -a -v
    throw = reset --hard HEAD
    throwh = reset --hard HEAD^
    clr = clean -f -d
[color]
    ui = true
[core]
    editor = vim
	excludesfile = /Users/guanghui/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[github]
	user = andyque
