[user]
	name = zilongshanren
	email = guanghui8827@126.com
[include]
	path = ~/.gitconfig.local
[mergetool]
	keepBackup = true
[alias]
	# Show the diff between the latest commit and the current state
	d	= !"git diff"
	# `git di $number` shows the diff between the state `$number` revisions ago and the current state
	di	= !"d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"
	g	= git
	cm	= commit
	cl	= clone
	br	= branch
	st	= status
	co	= checkout
	hide = update-index --assume-unchanged
	unhide = update-index --no-assume-unchanged
	unhide-all = "!git ls-files -v | grep \"^[a-z]\" | awk '{print $2,$NF;}' | xargs git unhide"
	hidden = !git ls-files -v | grep \"^[a-z]\"
	ignored = !git status -s --ignored | grep \"^!!\"
	sm	= submodule
	ci	= commit -a -v
	unst = reset HEAD
	throw	= reset --hard HEAD
	throwh	= reset --hard HEAD^
	clr	= clean -fdx -f
	last	= log -1
	glog	= log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	slog	= log --pretty=oneline	
	accept-ours = "!f() { git checkout --ours -- \"${@:-.}\"; git add -u \"${@:-.}\"; }; f"
	accept-theirs = "!f() { git checkout --theirs -- \"${@:-.}\"; git add -u \"${@:-.}\"; }; f"
	tagcommit = !sh -c 'git rev-list $0 | head -n 1'
[color]
		ui = true
[core]
    editor = vim
    autocrlf = false
	excludesfile = /Users/lionqu/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = matching
[branch]
	autosetuprebase = always
[pack]
	windowMemory = 100m
	packSizeLimit = 100m
	threads = 1
	SizeLimit = 100m
[http "https://git.code.oa.com"]
      proxy = http://127.0.0.1:12639
[http "http://git.code.oa.com"]
      proxy = http://127.0.0.1:12639
[commit]
	template = /Users/lionqu/.stCommitMsg
